/*
Template: Effacy - Creative One Page Template
Author: ThemeBite
Author URI: http://themebite.com/
Version: 1.0
Designed and Developed by: ThemeBite
*/
/*
====================================
[ CSS TABLE OF CONTENT ]
------------------------------------
    1.0 - Base Styles
    2.0 - Typography
    3.0 - Global Style
    4.0 - Navbar Section
    5.0 - Header
    6.0 - About Us Section
    7.0 - Testimonial Section
    8.0 - Creative Section
    9.0 - Awards Section
    10.0 - Pricing And Plans Section
    10.0 - Our Partners Section
    11.0 - Blog Section
    12.0 - Contact Section
    13.0 - Google Map Section
    14.0 - Footer Section
-------------------------------------
[ END CSS TABLE OF CONTENT ]
=====================================
*/

/* ============================
    Base Styles
=============================== */
body{
    background: #989898;
    font-size: 15px;
    line-height: 1.64;
    font-weight: 400;
}


html,
body {
    color: #323232;
    font-family: 'Raleway', sans-serif !important;
    height: 100%;
}

span {
  color: #00c5cd;
}

/* ============================
    Typography
=============================== */

h1 {
  margin-bottom: 30px;
  font-size: 50px;
  font-weight: 300;
}

h1,h4 {
  font-weight: 700;
  margin-bottom: 10px;
}

h2,h3 {
  font-weight: 300;
  color: #00c5cd;
}

h2 {
  font-size: 54px;
  text-align: center;
  margin-bottom: 20px;
}

h3 {
  font-size: 28px;
}

em {
  font-style: italic;
}

strong {
  font-weight: 900;
}

a {
  color: #fff;
  text-decoration: none;
}

hr {
  margin: 40px 0px;
  border-color: #727878;
  opacity: 0.2;
  filter:alpha(opacity=20);
}

/* ============================
    Global Styles
=============================== */

.container {
  position: relative;
  max-width: 379px;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
}

.container.container--large {
  max-width: 525px;
}

.container.container--large p {
  max-width: 377px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.9;
}

p.lead {
  text-align: center;
  color: #727878;
}
p.lead a {
  color: #FFFFFF;
  text-decoration: underline;
}
p.lead a:hover {
  text-decoration: none;
}

/* ============================
    Navbar
=============================== */

.navbar  {
  border: 0px;
  background-color: #989898;
  position: absolute;
  top: 100%;
  right: 5%;
  width: 110px;
  z-index: 999;
}
.navbar .navbar-collapse {
  padding: 0px;
  max-height: none;
}
.navbar .navbar-nav {
  float: none;
}
.navbar-nav {
  margin: 0px;
}
.navbar .nav > li {
  display: block;
  float: none;
  height: 80px;
}
.navbar .nav > li a {
  display: block;
  height: 80px;
  text-align: center;
  padding-top: 30px;
  font-weight: 600;
  color: #FFFFFF;
}
.navbar .nav > li a:hover, .navbar .nav > li a:focus {
  color: #999999;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background: #00c5cd; color: #FFFFFF;
}
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
  background: #989898;
}

.fixed .navbar  {
  position: fixed; top: 60px;
}

/* ============================
    Header
=============================== */

.header {
    height: 100%;
    background: url("../img/aqua.png") bottom no-repeat;
    background-size: cover;
}

.header .container {
  z-index: 10;
}

.header .header__introduction {
  padding-top: 60%;
  color: #FFFFFF;
}

.header .header__introduction h1 {
  color: #323232;
}

.header .header__introduction p {
/*  opacity: 0.9;*/
  color: #323232;
}

.header .header__background {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.background-white {
  background: #FFFFFF;
}

.background-gray {
  background: #434242;
}

.header .header__scroll {
  height: 80px;
  width: 110px;
  display: block;
  position: absolute;
  bottom: 0px;
  right: 5%;
  background-color: #989898;
  text-align: center;
  z-index: 6;
}
.header .header__scroll .glyphicon {
	color: #FFFFFF;
	font-size: 30px;
	padding-right: 2px;
	padding-top: 20px;

	animation-name: wiggle;
	animation-duration: 1.2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: normal;
}
.header .header__scrolln:hover .glyphicon {
  padding-top: 25px;
}

/* ============================
    About Me Section
=============================== */

.aboutme-container {
  max-width: 1280px;
  padding: 60px 180px;
  margin: 0 auto;
}

#aboutme .row > div {
  margin-bottom: 20px;
}

#aboutme .row p {
  text-align: left;
}

#aboutme .row > div img {
  width: 100%;
  max-width: 246px;
  height: auto;
}

/* ============================
    Footer Section
=============================== */
.footer {
    background: #000;
}
.footer .copyright-info a {
    color: #fff;
    font-size: 13px;
    letter-spacing: 1px;
    letter-spacing: 1px;
    letter-spacing: 0.1rem;
}
.social-icons a .fa {
    background: #343434 none repeat scroll 0 0;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    margin: 0 2px;
    padding: 10px 12px;
    -webkit-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
    vertical-align: middle;
}
