/*
Template: Effacy - Creative One Page Template
Author: ThemeBite
Author URI: http://themebite.com/
Version: 1.0
Designed and Developed by: ThemeBite
*/
/*
====================================
[ CSS TABLE OF CONTENT ]
------------------------------------
    1.0 - Base Styles
    2.0 - Typography
    3.0 - Global Style
    4.0 - Navbar Section
    5.0 - Hero Section
    6.0 - About Us Section
    7.0 - Testimonial Section
    8.0 - Creative Section
    9.0 - Awards Section
    10.0 - Pricing And Plans Section
    10.0 - Our Partners Section
    11.0 - Blog Section
    12.0 - Contact Section
    13.0 - Google Map Section
    14.0 - Footer Section
-------------------------------------
[ END CSS TABLE OF CONTENT ]
=====================================
*/

/* ============================
    Base Styles
=============================== */
body{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    color: #ffffff;
    background: #323232;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased !important;
}


html,
body {
    color: #434242;
    width: 100%;
    height: 100%;
}

/* ============================
    Global Styles
=============================== */

p.lead {
  text-align: center; color: #727878;
}
p.lead a {
  color: #FFFFFF; text-decoration: underline;
}
p.lead a:hover {
  text-decoration: none;
}

/* ============================
    Navbar Section
=============================== */

.navbar  {
  border: 0px;
  background-color: #222222;
  position: absolute;
  top: 100%;
  right: 5%;
  width: 110px;
  z-index: 999;
}
.navbar .navbar-collapse {
  padding: 0px;
  max-height: none;
}
.navbar .navbar-nav {
  float: none;
}
.navbar-nav {
  margin: 0px;
}
.navbar .nav > li {
  display: block;
  float: none;
  height: 80px;
}
.navbar .nav > li a {
  display: block;
  height: 80px;
  text-align: center;
  padding-top: 30px;
  font-weight: 600;
  color: #FFFFFF;
}
.navbar .nav > li a:hover, .navbar .nav > li a:focus {
  color: #999999;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background: #22A39F; color: #FFFFFF;
}
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
  background: #222222;
}

.fixed .navbar  {
  position: fixed; top: 60px;
}

/* ============================
    Jumbotron Section
=============================== */

.jumbotron-particle-bg {
    background: url("../img/minimalist.png") no-repeat scroll center center / cover ;
}
.jumbotron-particle-bg:before , .jumbotron-particle-bg:before , .text-rotator-bg:before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.jumbotron .overlay {
    background-color: #22A39F;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: 0.75;
    filter:alpha(opacity=75);
    z-index: 2;
}

.jumbotron .container {
    position: relative;
    top: 28%;
    z-index: 4;
    text-align: center;
}
.jumbotron .container > * {
    text-align: center;
    color: #FFFFFF;
}
.jumbotron .container h1 {
    padding-bottom: 20px;
    border-bottom: 1px solid #FFFFFF;
    border-bottom-color: rgba(255,255,255,0.35);
    display: inline-block; }
.jumbotron .container .lead {
    font-size: 28px;
}

.jumbotron .scroll-down .glyphicon {
  	color: #FFFFFF;
  	font-size: 30px;
  	padding-right: 2px;
  	padding-top: 20px;

  	animation-name: wiggle;
  	animation-duration: 1.2s;
  	animation-timing-function: linear;
  	animation-iteration-count: infinite;
  	animation-direction: normal;
}
.jumbotron .scroll-down:hover .glyphicon {
    padding-top: 25px;
}

#particles-js {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
}

.background-white {
  background: #FFFFFF;
}
.background-gray {
  background: #434242;
}
.container {
  max-width: 1280px;
  padding: 40px 180px;
}

#profile .row > div {
  margin-bottom: 20px;
}
#profile .row > div img {
  width: 100%; max-width: 246px; height: auto;
}
